#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}


/* my code starts from here */
.productCard {
  border: 1px solid #8ac8e7;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  width: 550px;
  height: 280px;
  margin-bottom: 20px;
}

img {
  width: 250px;
  border: 1px solid black;
  border-radius: 10px;
}

.productDetails {
  font-family: Arial, Helvetica, sans-serif;
  width: 275px;
  margin: 10px 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-content: space-between;
}

.quantitySection {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
}
.quantityButtons{
  margin-right: 60px;
  height: 25px;
  width: 65px;
  display: flex;
  justify-content: space-between;
}

.price{
  border: 1px solid;
  border-radius: 10px;
  margin-top: 25px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.add:hover{
  border-color: rgb(43, 216, 8);
  color: rgb(43, 216, 8);
}

.remove:hover{
  border-color: red;
  color: red;
}